<div class="container">
  <div class="row">
    <div class="card my-5 col-md-3">
      <div class="card-body">
        <br>
        <h6>Category:</h6>
         <form method="get"> 
          <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="category" name="category" value="1" checked>Home
              </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" id="category" name="category" value="2">Tools and Equipment
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" id="category" name="category" value="3">Sports and Recreations
            </label>
          </div>
          <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="category" name="category" value="4">Entertainment
              </label>
          </div>
          <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="category" name="category" value="5">Babies and Kids
              </label>
          </div>
          <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="category" name="category" value="6">Fashion
              </label>
          </div>
          <br><br>
            <div class="form-group">
              <label for="deposit">
                <h6>Deposit Price:</h6>
              </label>
              <div class="d-flex justify-content-center">
                <span class="mr-2">$0</span>
                <input class="custom-range" type="range" id="deposit" name="deposit" min="0" max="1000" step="10" value="500" oninput="displayDeposit(this.value)" />
                <span class="ml-2">$1000</span>
              </div>
              <div class="text-center mr-4">
                  <span id="depositVal">500</span>
                  <input type="hidden">
              </div>
            </div>
        <br>
          <div class="form-group">
            <label for="rate">
              <h6>Daily Rate:</h6>
            </label>
            <div class="d-flex justify-content-center">
              <span class="mr-2">$0</span>
              <input class="custom-range" type="range" id="rate" name="rate" min="0" max="50" step="1" value="25" oninput="displayDailyRate(this.value)" />
              <span class="ml-2">$50</span>
            </div>
            <div class="text-center mr-2">
                <span id="dailyRateVal">25</span>
                <input type="hidden">
            </div>
          </div><br><br>
          <input type="hidden" name="searchbar" value="<%= searchKeyword %>">
          <button type="submit" formaction="/list" class="btn btn-primary float-right">Apply Filter</button>
         </form>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card my-5">
        <div class="card-body">
          <span class="font-italic float-left"><%= items.length %> results</span>
          <div class="table-responsive table-wrapper-scroll-y" style="height:570px">
            <table id="itemTable" class="table table-condensed table-hover">
              <tbody>
                <% for (var i = 0; i < items.length; i++) { %>
                  <tr onclick="window.location.assign('/item/<%= items[i].itemId %>')" style="cursor: pointer;">
                    <td>
                        <img style="width: 150px; height: auto;" src="<%= items[i].photoURL %>">
                    </td>
                    <td>
                      <h3 id="itemName"><%= items[i].name %></h3>
                      <p id="itemDescription">
                        <%= items[i].description %>
                      </p>
                      <span id="postedDate">Posted on <%= postedDates[i] %></span>
                    </td>
                    <td>
                      <div class="border rounded pb-4 px-1" style="background: #EFF0F0">
                        <div style="width: 160px"><span class="text-danger font-weight-bold" id="price" style="font-size: 25pt;">$<%= items[i].rental_price_daily %></span> / day
                        </div>
                        <a href="/lenderpage"><span class="font-weight-bold" id="username">Lender: <%= items[i].userId %></span></a><br>
                        <div id="rating" class="mt-2">
                            <span class="star-prototype"><%= rates[i] %></span>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>